<div id="game">
  <h1>WORDLE</h1>
  
  <p>Wordle is a daily word-guessing game that has taken the internet by storm. Here's the breakdown of how it works:</p>
  <p>Goal: Guess the secret five-letter word.</p>
  
  <p>How to play:</p>
  <ol>
    <li>Guess a five-letter word and hit enter.</li>
    <li>The letters in your guess will change color to give you feedback.</li>
    <li>Use the feedback to guess another five-letter word.</li>
    <li>Keep guessing until you guess the correct word.</li>
  </ol>

  <span id="table">
    <p>Quess the 5-letter word:</p>
    <table>
      <tr *ngFor="let try of tries; index as i">
        <td *ngFor="let letter of word; index as j">
          <input type="text" maxlength="1" size="1" [disabled]="i!=tries.length-1" [(ngModel)]="tries[i][j]" [id]="i*5+j" [class]="classes[i][j]"/>
        </td>
        <td><button (click)="check()" [disabled]="i!=tries.length-1">Enter</button></td>
      </tr>
    </table> 
  </span>

  <span id="feedback">
    <p>Feedback background colors:</p>
    <ul>
      <li>Green indicates that the letter is in the correct spot.</li>
      <li>Yellow indicates that the letter is in the word but in the wrong spot.</li>
      <li>White indicates that the letter is not in the word.</li>
      <li>The player has innumerous tries to guess the word.</li>
    </ul>
  </span>

  <div style="clear: right;"></div>
  <div style="clear: left;"></div>
  
</div>
